body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --hour-height: 60px;
}

input {
  border: none;
  border-radius: 20px;
  margin: 10px 0px 0px 0px;
  padding: 10px;
}

select {
  border: none !important;
  padding: 10px;
  border-radius: 20px;

}

select:focus {
  border: none !important;
  outline: none;
  background-color: rgb(202, 202, 202);
}

select:hover {
  border: none !important;
  background-color: rgb(226, 226, 226);
  outline: none;
}

input:focus {
  border: none !important;
  background-color: rgb(202, 202, 202);
  outline: none;
}

input:hover {
  border: none !important;
  background-color: rgb(226, 226, 226);
  outline: none;
}